body {
  position: absolute;
  left: -8px;
  top: -8px;
}

@font-face {
  font-family: "Noto Sans SC B";
  src: url("./res/font/NotoSansSC-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("./res/font/NotoSansSC-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SSFangTangTi";
  src: url("./res/font/SSFangTangTi.ttf");
}

.wrapper {
  /* height: 1885px; */
  width: 578px;
  background-color: #e38888;
  position: relative;
  padding: 15px;
  /* box-sizing: border-box; */
}

.main {
  /* height: 1860px; */
  width: 555px;
  background-color: #fff7f7;
  position: relative;
  border-radius: 10px;
  padding: 10px;
}

.top-border {
  display: flex;
}

.kanna-img {
  height: 155px;
}

.top-title {
  position: relative;
  width: 322px;
}

.kanna-title {
  font-family: "SSFangTangTi";
  color: #d33f3f;
  font-size: 87px;
  position: absolute;
  top: -73px;
  left: -10px;
}

.kanna-tip {
  color: #f98888;
  font-family: "Noto Sans SC B";
  position: absolute;
  top: 73px;
  left: 20px;
  text-shadow: 2px 2px 1px #fc819f;
  font-size: 35px;
  font-weight: 700;
}

.top-date {
  background-color: #fbdede;
  border-radius: 10px;
  height: 108px;
  width: 120px;
  margin-top: 30px;
  /* margin-left: 67px; */
  position: relative;
  box-shadow: 4px 4px 8px rgba(120, 70, 70, 0.28);
}

.top-date-week {
  color: #d44a4a;
  font-size: 35px;
  font-family: "Noto Sans SC B";
  position: absolute;
  left: 40px;
  top: -34px;
}

.top-date-date {
  color: white;
  font-family: "Noto Sans SC B";
  font-size: 12px;
  background-color: #f85555;
  margin-top: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-date-cn {
  font-family: "Noto Sans SC B";
  color: #d44a4a;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.one-border {
  display: flex;
  height: 320px;
  margin-top: 50px;
  font-family: "Noto Sans SC";
}

.moyu-border {
  font-family: "Noto Sans SC";
  height: 240px;
  padding: 15px 10px;
  border-radius: 10px;
  border: #f07e7e 3px solid;
  width: 157px;
  position: relative;
}

.moyu-title {
  border: #f07e7e 2px solid;
  position: absolute;
  background-color: #fff7f7;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #d44a4a;
  padding: 5px 10px;
  font-size: 14px;
  font-family: "Noto Sans SC B";
  top: -19px;
  left: 37px;
  display: flex;
}

.title-img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.moyu-inner {
  display: flex;
  line-height: 15px;
  font-size: 13px;
}

.moyu-day {
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moyu-day-name {
  color: #d44a4a;
  background-color: #fbeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
}

.bili-border {
  font-family: "Noto Sans SC";
  border: #f07e7e 3px solid;
  height: 240px;
  margin-left: 15px;
  padding: 15px 10px 15px 40px;
  border-radius: 10px;
  width: 300px;
  position: relative;
  font-size: 13px;
}

.bili-text {
  display: flex;
  align-items: center;
  line-height: 5px;
  margin-top: 7px;
  margin-bottom: 6px;
}

.bili-icon {
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border-radius: 2px;
}

.two-border {
  border: #f07e7e 3px solid;
  width: 512px;
  height: 370px;
  border-radius: 10px;
  position: relative;
  padding: 17px;
  font-family: "Noto Sans SC";
  background-color: #fff7f7;
}

.two-border-border {
  float: left;
}

.anime-border {
  height: 170px;
  width: 105px;
  font-size: 10px;
  font-size: 13px;
  text-align: center;
  line-height: 3px;
  float: left;
  margin: 8px 10px;
  line-height: 15px;
}

.anime-text {
  overflow: hidden;
  margin-top: 3px;
  height: 48px;
}

.anime-img {
  height: 130px;
  width: 105px;
}

.three-border {
  border: #f07e7e 3px solid;
  width: 552px;
  border-radius: 10px;
  position: relative;
  /* float: left; */
  padding: 17px;
  font-family: "Noto Sans SC";
  margin-top: 46px;
  background-color: #fff7f7;
  font-size: 15px;
  box-sizing: border-box;
}

.four-border {
  border: #f07e7e 3px solid;
  width: 512px;
  border-radius: 10px;
  position: relative;
  /* float: left; */
  padding: 17px;
  font-family: "Noto Sans SC";
  margin-top: 46px;
  background-color: #fff7f7;
  font-size: 15px;
}

.five-border {
  border: #f07e7e 3px solid;
  width: 520px;
  border-radius: 10px;
  position: relative;
  /* float: left; */
  padding: 13px;
  font-family: "Noto Sans SC";
  margin-top: 46px;
  font-size: 19px;
  color: #e07a7a;
  font-weight: 600;
  background-color: #fff7f7;
}

.normal-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 450px; */
}

ul {
  list-style-position: inside; /* 将项目符号放在内容内部 */
  /* width: 450px; */
}

li::marker {
  display: inline-block; /* 确保项目符号可见 */
}
